/*seletor universal, pega todos os elemento da pagina*/
* {
  margin: 0;
  /* para começar a contar o tamanho a partir da borda
  box-sizing: border-box;*/
}
:root {
  /* variavel de cores*/
  --primary-color: hsl(170, 100%, 26%);
  --black-readline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  font-size: 62.5%; /* assim 1rem = 10px mas tem que por o font-size: 1.6rem; no body aqui no css; o calculo para o valor de 62.5 é (10*100)/16*/
  /*font-size: 100%; assim vc tem que fazer o numero que vc quer dividido por dezeseis 14/16=0,875 se divide por 16 pq é o tamanho da fonte padrão do navegador*/
}
body {
  font-family: 'DM Sans';
  font-size: 1.6rem; /* se vc usar o font-size: 62.5%; */
  text-align: center;
}

header {
  width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4.1rem;
  /* padding-right: 2rem;
  padding-left: 2rem; */
}

h4 {
  /*font-size: 0.875rem; se vc usar o font-size: 100%; */
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  color: var(--black-readline);
  /*altura da linha*/
  line-height: 130%;
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

button {
  background: var(--primary-color);
  /* retirando a borda do botão */
  border: none;
  /* arredondando   */
  border-radius: 4rem;
  /* margem inferior */
  margin-bottom: 6rem;
  /* altura e largura */
  height: 6.2rem;
  width: 26.3rem;
  /* cor da letra, tamanho, largura, caixa alta  */
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  /* para mecher com os filhos do button*/
  display: flex;
  /* alinhar */
  align-items: center;
  /* justuficar */
  justify-content: center;
  /* espaço entre os elementos */
  gap: 1.6rem;
  /* precisa modificar altura e largura da margem por conta do display flex */
  margin-right: auto;
  margin-left: auto;
}
